.buttons-wrap {
  display: flex;
  justify-content: space-around;
  a {
    display: block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(58, 97, 58);
    color: #fff;
  }
}
