.wrap {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 10px;
  margin: 10px 0;
}
.move-button {
  width: 20px;
  height: 30px;
  position: relative;
  justify-self: end;
  cursor: pointer;
  &::after {
    position: absolute;
    content: '+';
    top: 0;
    left: 0;
    font-size: 30px;
  }
}
.input {
  input {
    width: calc(100% - 10px);
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #5e5e5e;
  }
}
